<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>

	<h1 th:text="${titulo}"></h1>
	<div>Pongo algo para saber que se actualiza</div>
	<ul>
		<li><a th:href="@{/params/string(texto='Hola Sergio')}">Hola Sergio</a></li>
		<li><a th:href="@{/params/string(texto='Otro texto')}">Otro texto</a></li>
		<li><a th:href="@{/params/mix-params(saludo='Hola Sergio', numero=5)}">Hola Sergio 5 </a></li>
		<li><a th:href="@{/params/mix-params(saludo='Hola Amparo', numero=7)}">Hola Amparo 7</a></li>
		<li><a th:href="@{/params/mix-params-request(saludo='Hola Armando', numero=8)}">Hola Armando 8</a></li>
		<li><a th:href="@{/params/mix-params-request(saludo='Hola Jose', numero=13)}">Hola Jose 13</a></li>
	
	</ul>
</body>
</html>