<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org" xmlns:sec="http://www.thymeleaft.org/extras/spring-security">
<head th:replace="layout/layout.html :: head"></head>
<body>

	<div id="i18n_eliminar_cliente" th:text="#{text.cliente.eliminarOk}" style="display: none;"></div>

	<header th:replace="layout/layout.html :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a class="btn btn-primary btn-xs" th:href="@{/form}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.menu.customer.new}">Alta Clientes</a>
					<a th:href="@{'/listar'(format=csv)}" class="btn btn-xs btn-success ml-auto">CSV</a>
					<a th:href="@{'/listar'(format=xml)}" class="btn btn-xs btn-outline-success ml-auto">XML</a>
					<a th:href="@{'/listar'(format=json)}" class="btn btn-xs btn-outline-warning ml-auto">JSON</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th sec:authorize="hasRole('ROLE_USER')">ID</th>
							<th th:text="#{text.cliente.nombre}">Nombre</th>
							<th th:text="#{text.cliente.apellido}">Apellido</th>
							<th th:text="#{text.cliente.email}">Email</th>
							<th th:text="#{text.cliente.createAt}">Fecha</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.factura.crear}">Crear factura</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.factura.detalle}">Editar</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.factura.eliminar}">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente : ${clientes}">
							<td sec:authorize="hasRole('ROLE_USER')">
								<a class="btn btn-primary btn-xs" th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a>
							</td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<a class="btn btn-success btn-xs" th:href="@{/factura/form/} + ${cliente.id}" th:text="#{text.cliente.factura.crear.ver}">Crear factura</a>
							</td>
							
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<a class="btn btn-primary btn-xs" th:href="@{/form/} + ${cliente.id}" th:text="#{text.cliente.factura.detalle.ver}">Editar</a>
							</td>
							
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${cliente.id}"
								onclick="return confirm(document.getElementById('i18n_eliminar_cliente').innerHTML);" th:text="#{text.cliente.factura.eliminar.x}">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout.html :: footer"></footer>
</body>
</html>