<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
<head th:replace="layout/layout.html :: head"></head>
<body>
	
	<header th:replace="layout/layout.html :: header"></header>
	
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				
				<img class="img-thumbnail rounded float-left" style="max-width:25%" 
				th:alt="${cliente.nombre}" th:src="@{'/uploads/' + ${cliente.foto}}"
				th:if="${#strings.length(cliente.foto) > 0}">
				
				<ul class="list-group">
					<li class="list-group-item" th:text="${cliente.nombre}"></li>
					<li class="list-group-item" th:text="${cliente.apellido}"></li>
					<li class="list-group-item" th:text="${cliente.email}"></li>
					<li class="list-group-item" th:text="${cliente.createAt}"></li>
				</ul>
			
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout.html :: footer"></footer>
</body>
</html>